@font-face {
  font-family: "futura-bold";
  src: url("~assets/fonts/futura-bold.ttf") format("truetype");
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: "futura";
  src: url("~assets/fonts/futura-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$mainColor: #111;
$headerColor: rgba(white,.7);

body {
  color: white;
  font-family: "futura";
  background: $mainColor;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  transition: .3s color;
}

a:hover {
  color: rgba(white, .7);
  transition: .3s color;
}

h3, h4 {
  color: $headerColor;
}
